<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>导航页</title>
    <style>
        p{
            color:blue;    /*设置文字的颜色*/
            font-weight: bold;  设置文字加粗
            font-size: 20px;  /*设置文字大小*/
           /* font-style:italic; 设置文字倾斜*/
            /*text-indent: 2em; /*设置段首缩进两个文字单位*/*/
            font-family: "宋体";  /*设置文字的类型*/
            line-height: 30px;   /*设置一行文字的高度*/
            /*text-decoration: underline;/*设置下划线*/*/
            text-decoration: none;  /*去掉下划线*/

        };
        a{
            text-decoration: none;  /*去掉下划线*/  };

         .link_1{color:black ;width:200px;height:25px;}
         .link_1:hover{color:red;text-decoration: underline;font-family: "宋体";font-size: 20px;
           /*伪类，用于超链接，动态效果 */
     };
     h1{
         color:blue;    /*设置文字的颜色*/
            /*font-weight: bold;  设置文字加粗*/
            font-size: 20px;  /*设置文字大小*/
     }
    </style>

 <!--    <style type="text/css">
               .link_1{color:black ;width:200px;height:25px;}
         .link_1:hover{color:red;text-decoration: underline;font-family: "宋体";font-size: 20px;}     
    </style> -->
</head>


<body>
   
    <div></div>

 <p>我的收藏</p>

     <!-- <table>  </table>标签：表示一个表格 -->
   
   <div>
        <div style="width:300px;float:left">
         <ol >  <!-- 有序列表 -->

	<li class='link_1'><a href="https://www.baidu.com" target='_blank'>百度一下</a></li>
        <li class='link_1'><a href="https://www.csdn.net/" target='_blank'>CSDN</a></li>
    <li class='link_1'><a href="https://www.jianshu.com/" target='_blank'>简书</a></li>
    
        <li class='link_1'><a href="http://tlias-stu.boxuegu.com/#/login"target='_blank'>博学谷</a></li>
        <li class='link_1'><a href="https://www.djangosites.org/ " target='_blank'> django-sites</a></li>
        <li class='link_1'><a href="https://www.aliyun.com/ " target='_blank'>Aliyun</a></li>
        <li class='link_1'><a href="https://zh.wikipedia.org/wiki/ " target='_blank'>维基百科 </a></li>
        <li class='link_1'><a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/" target='_blank'>f_sqlalchemy </a></li>



            <!--    <li class='link_1'><a href="$$ " target='_blank'>￥￥ </a></li>   -->


        <p>课件-讲义</p>
        <li class='link_1'><a href="file:///G:/python学习/归档-课件-视频/2就业班/0-python高级阶段讲义/index.html" target='_blank'>python高级</a></li>       
        <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\03django基础7天资料\01-redis\redis.html"target='_blank'>redis</a></li>
        <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\03django基础7天资料\02-git/index.html"target='_blank'>git</a></li>
        <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\03django基础7天资料\03-vue/index.html"target='_blank'>vue</a></li>
        <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\03django基础7天资料\04-django\index.html"target='_blank'>django基础</a></li>
         <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\04-dj美多商城项目文档\文档\index.html" target='_blank'>美多</a></li>
	<li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\01_DRF讲义\index.html" target='_blank'>DRF讲义</a></li>
    <li class='link_1'><a href="D:\002--------------\Flask基础课件\index.html " target='_blank'> Flask</a></li>
    <li class='link_1'><a href="D:\002--------------\flask资料\01_头条前台原型图v1.2\index.html " target='_blank'> 头条原型</a></li>
    <li class='link_1'><a href="D:\002--------------\flask资料\Flask项目课件1\index.html " target='_blank'> Flask基本上</a></li>
    <li class='link_1'><a href="G:\python学习\归档-课件-视频\2就业班\Flask项目课件2\index.html " target='_blank'> Flask课件2</a></li>

<!--   <li class='link_1'><a href="$$ " target='_blank'> $</a></li>    -->

	<!-- <h1>其他</h1> -->
    <p>其他</p>
    <li class='link_1'><a href="https://developers.weixin.qq.com/doc/oplatform/Mobile_App/Resource_Center_Homepage.html" target='_blank'>微信开放平台</a></li>
    <li class='link_1'><a href="https://wx.qq.com/" target='_blank'>微信</a></li>
         <li class='link_1'><a href="https://gitee.com/" target='_blank'>码云</a></li>
         <li class='link_1'><a href="https://db-engines.com/en/ranking" target='_blank'>db-engines</a></li>
           <li class='link_1'><a href="https://www.bilibili.com/" target='_blank'>b站</a></li>
         <li class='link_1'><a href="https://www.bilibili.com/video/av17879644/?p=3" target='_blank'>b站-django视频</a></li>
	<li class='link_1'><a href="https://spectrum.ieee.org/" target='_blank'>ieee</a></li>

    <li class='link_1'><a href="https://www.fiverr.com/" target='_blank'>fiverr</a></li>
    <li class='link_1'><a href="https://www.upwork.com/" target='_blank'>upwork</a></li>
    <li class='link_1'><a href="https://www.adfly.eu/" target='_blank'>adfly</a></li>
    
       
	



    </ol>
   </div>
        <img src="img/3.png" alt="Ai02" width="500" height="300">

    <div style="width:300px;float:left">
        <ol>
  <p>github</p>
     
         <li class='link_1'><a href="https://github.com/" target='_blank'>github</a></li>
         <li class='link_1'><a href="https://github.com/topics/linux" target='_blank'>linux主题</a></li>
    <li class='link_1'><a href="https://github.com/topics/python" target='_blank'>python主题</a></li>
    <li class='link_1'><a href="https://github.com/vinta/awesome-python" target='_blank'>Awesome Python工具 </a></li>
    <li class='link_1'><a href="https://github.com/donnemartin/gitsome" target='_blank'>gitsome</a></li>
    <li class='link_1'><a href="https://github.com/TheAlgorithms/Python" target='_blank'>python_算法</a></li>

         

         <p>文档</p>
         <li class='link_1'><a href="https://itsdangerous.readthedocs.io" target='_blank'>itsdangerous</a></li>
	 <li class='link_1'><a href="https://www.runoob.com/react/react-tutorial.html" target='_blank'>React</a></li>
	<li class='link_1'><a href="https://yiyibooks.cn/xx/Django_1.11.6/contents.html" target='_blank'>Django文档</a></li>
	<li class='link_1'><a href="http://www.docker.org.cn/book/docker/what-is-docker-16.html" target='_blank'>Docker文档</a></li>
	
	<li class='link_1'><a href="https://www.django-rest-framework.org/#security" target='_blank'>DRF </a></li>
    <li class='link_1'><a href="https://fabric-chs.readthedocs.io/zh_CN/chs/tutorial.html" target='_blank'>fabric </a></li>
<li class='link_1'><a href="http://www.nginx.cn/doc/" target='_blank'>nginx</a></li>






              <form method="post" class="login" @submit="on_submit">
                            {{ csrf_input }}
                            <input type="text" name="username" v-model="username" @blur="check_username"
                                   class="name_input" placeholder="请输入用户">
                            <div class="user_error" v-show="error_username">[[ error_username_message ]]</div>
                            <input type="password" name="pwd" v-model="password" @blur="check_pwd" class="pass_input"
                                   placeholder="请输入密码">
                            <div class="pwd_error" v-show="error_password">[[ error_password_message ]]</div>
                            <div class="more_input clearfix">
                                <input type="checkbox" name="remembered" v-model="remembered">
                                <label>记住登录</label>
                                <a href="/forgot_pwd/" class="fogot_pwd" >忘记密码</a>
                            </div>
                            <input type="submit" value="登 录" class="input_submit">
                            {% if loginerror %}
                                <span class="error_tip2">{{ loginerror }}</span>
                            {% endif %}
                        </form>
                        
  <!-- 


var vm = new Vue({
    el: '#app',
    // 修改Vue变量的读取语法，避免和django模板语法冲突
    delimiters: ['[[', ']]'],
    data: {
        host,
        error_username: false,
        error_password: false,
        error_username_message: '请输入5-20个字符的用户名',
        error_password_message: '请输入8-12位的密码',
        username: '',
        password: '',
        remembered: true
    },
    methods: {
        // 检查账号
        check_username: function(){
            var re = /^[a-zA-Z0-9_-]{5,20}$/;
            if (re.test(this.username)) {
                this.error_username = false;
            } else {
                this.error_username = true;
            }
        },
        // 检查密码
        check_pwd: function(){
            var re = /^[0-9A-Za-z]{8,20}$/;
            if (re.test(this.password)) {
                this.error_pwd = false;
            } else {
                this.error_pwd = true;
            }
        },
        // 表单提交
        on_submit: function(){
            this.check_username();
            this.check_pwd();

            if (this.error_username == true || this.error_pwd == true) {
                // 不满足登录条件：禁用表单
                window.event.returnValue = false
            }
        }

   -->



<!-- <li class='link_1'><a href="$$ " target='_blank'> $</a></li> -->
<!--     <form onsubmit="return false;">
        <div class="form-group" id="f_1562654967899">
         
         <div class="label">
                <label for="f_username_txt">
                        用户名/账号
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="f_username_txt" name="f_username_txt" maxlength="50" value="" data-validate="required:请填写用户名/账号,username:请输入英文字母开头的字母、下划线、数字,ajax#(demo/getdata.html?username={value}):该账号已存在,length#<50:字数在0-50个" placeholder="英文字母开头的字母、下划线、数字">
                </div>
            </div></form>


            <form onsubmit="return false;"><div class="form-group" id="f_1562656139383">
                <div class="label">
                    <label for="f_password_txt">
                        密码
                    </label>
                </div>
                <div class="field">
                    <input type="text" class="input" id="f_password_txt" name="f_password_txt" maxlength="50" value="" data-validate="required:请填写密码,username:请输入英文字母开头的字母、下划线、数字,length#<50:字数在0-50个" placeholder="英文字母开头的字母、下划线、数字">
                </div>
            </div></form> -->

      </ol>

    </div>
  

</div>




</body>
</html>


